<link rel="import" href="/view/common/pc/doctype.html?__inline" >
<link rel="import" href="/view/common/pc/head-file.html?__inline" >
<title>redux</title>
<link rel="stylesheet" href="./index.less">
<link rel="import" href="/view/common/pc/head-body.html?__inline" >
<link rel="import" href="/view/common/pc/nav.html?__inline" >

<div id="app"></div>
<link rel="import" href="/view/common/pc/footer.html?__inline" >
<link rel="import" href="/view/common/pc/bottom-file.html?__inline" >
<script src="./entry.js"></script>
<link rel="import" href="/view/common/pc/end.html?__inline" >
