<link rel="import" href="../common/pc/doctype.html?__inline" >
<link rel="import" href="../common/pc/head-file.html?__inline" >
<title>react</title>
<link rel="stylesheet" href="./index.less">
<link rel="import" href="../common/pc/head-body.html?__inline" >
<link rel="import" href="../common/pc/nav.html?__inline" >
<div id="app"></div>
<img src="./onface.png" alt="" width="10">
<link rel="import" href="../common/pc/footer.html?__inline" >
<link rel="import" href="../common/pc/bottom-file.html?__inline" >
<script src="./entry.js"></script>
<link rel="import" href="../common/pc/end.html?__inline" >
