<link rel="import" href="../common/doctype.html?__inline" >
<link rel="import" href="../common/head-file.html?__inline" >
<title>index</title>
<link rel="stylesheet" href="./index.less">
<link rel="import" href="../common/head-body.html?__inline" >
<link rel="import" href="../common/nav.html?__inline" >

<div id="react_app"></div>
<div id="vue_app"></div>
<div id="app"></div>
php: <?php echo time(); ?>
<link rel="import" href="../common/footer.html?__inline" >
<link rel="import" href="../common/bottom-file.html?__inline" >
<script src="./entry.js"></script>
<script src="./react/entry.js"></script>
<script src="./vue/entry.js"></script>
<link rel="import" href="../common/end.html?__inline" >
